<section id="section-integration" class="section--integrations">
  <div class="section__title">
    <h3 class="font-fjalla">Trusted by</h3>
  </div>
  <div class="flex--horizontal">
    <app-img class="logo" alt="1" path="assets/images/logos/1.svg"></app-img>
    <app-img class="logo" alt="2" path="assets/images/logos/2.svg"></app-img>
    <app-img class="logo" alt="3" path="assets/images/logos/3.svg"></app-img>
    <app-img class="logo" alt="4" path="assets/images/logos/4.svg"></app-img>
    <app-img class="logo" alt="5" path="assets/images/logos/5.svg"></app-img>
    <app-img class="logo" alt="6" path="assets/images/logos/6.svg"></app-img>
  </div>
</section>
